<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CommunityClinicLLOMDB"
			 connectionString="Data Source=desktop-e4f55fe;Initial Catalog=CommunityClinicLLOMDB;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>