<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Communityclinic.Properties.Settings.CommunityClinicLLOMDBConnectionString"
            connectionString="Data Source=23.95.235.16;Initial Catalog=CommunityClinicLLOMDB;Persist Security Info=True;User ID=vtdi_student;Password=P@ssword1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>